body
  padding: 0px
  margin: 0px
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-02/1676614265_catherineasquithgallery-com-p-zastavka-na-rabochii-stol-zelenii-fon-171.jpg")
  font-family: Lucida Console

.NavBar
  padding-top: 10px
  padding-bottom: 10px
  display: flex
  justify-content: space-evenly
  background-color: #2cac2c81
  border: solid 3px #2eca2e
  border-left: none
  border-right: none
  .link
    color: #ffffff
    font-size: 30px
    transition: 300ms
    text-decoration: none
    &:hover
      color: #6dec6d

.MainDiv
  display: flex
  flex-wrap: wrap
  justify-content: center
  .ObjectDiv
    height: 350px
    width: 230px
    margin: 15px
    display: flex
    justify-content: center
    background-color: #2cac2c81
    color: #ffffff
    font-size: 20px
    transition: 300ms
    border: solid 3px #2eca2e
    border-radius: 15px
    .ObjectImage
      margin: 5px
    .ObjectText
      display: flex
      justify-content: center
    &:hover
      color: #6dec6d